CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_Generic=y
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_LUCI_LANG_en=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_ipv6helper=y
CONFIG_PACKAGE_kmod-fs-nfs=y
CONFIG_PACKAGE_kmod-fs-nfs-common=y
CONFIG_PACKAGE_kmod-fs-nfs-v3=y
CONFIG_PACKAGE_kmod-fs-nfs-v4=y
CONFIG_PACKAGE_kmod-fs-ntfs=y
CONFIG_PACKAGE_kmod-fs-squashfs=y
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-ohci-pci=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb2-pci=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_libustream-openssl=y
CONFIG_PACKAGE_luci-app-adbyby-plus=y
CONFIG_PACKAGE_luci-app-aria2=y
CONFIG_PACKAGE_luci-app-uhttpd=y
CONFIG_PACKAGE_luci-app-baidupcs-web=y
CONFIG_PACKAGE_luci-app-docker=y
CONFIG_PACKAGE_luci-app-frps=y
CONFIG_PACKAGE_luci-app-frpc=y
CONFIG_PACKAGE_luci-app-hd-idle=y
CONFIG_PACKAGE_luci-app-kodexplorer=y
CONFIG_PACKAGE_luci-app-qbittorrent=y
CONFIG_PACKAGE_luci-app-softethervpn=y
CONFIG_PACKAGE_luci-app-serverchan=y
CONFIG_PACKAGE_luci-app-smartinfo=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Kcptun=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Shadowsocks=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Server=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Socks=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Trojan=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_V2ray=y
CONFIG_PACKAGE_luci-app-tcpdump=y
CONFIG_PACKAGE_luci-app-v2ray-server=y
CONFIG_PACKAGE_luci-app-wrtbwmon=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-darkmatter=y
CONFIG_PACKAGE_bind-dig=y
CONFIG_PACKAGE_wget=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_httping=y
CONFIG_PACKAGE_tcping=y
CONFIG_PACKAGE_autocore=n
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_autosamba=n
CONFIG_PACKAGE_fdisk=y
CONFIG_PACKAGE_cfdisk=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_zoneinfo-africa=y
CONFIG_PACKAGE_zoneinfo-asia=y
CONFIG_PACKAGE_zoneinfo-atlantic=y
CONFIG_PACKAGE_zoneinfo-australia-nz=y
CONFIG_PACKAGE_zoneinfo-core=y
CONFIG_PACKAGE_zoneinfo-europe=y
CONFIG_PACKAGE_zoneinfo-india=y
CONFIG_PACKAGE_zoneinfo-northamerica=y
CONFIG_PACKAGE_zoneinfo-pacific=y
CONFIG_PACKAGE_zoneinfo-poles=y
CONFIG_PACKAGE_zoneinfo-simple=y
CONFIG_PACKAGE_zoneinfo-southamerica=y
#20200608
CONFIG_PACKAGE_luci-app-dockerman=y
CONFIG_PACKAGE_luci-app-dockerman_INCLUDE_docker_ce=y
CONFIG_PACKAGE_luci-app-dockerman_INCLUDE_ttyd=y
# 设置固件大小:
CONFIG_TARGET_KERNEL_PARTSIZE=30
CONFIG_TARGET_ROOTFS_PARTSIZE=960
# diskman:
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_btrfs_progs=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_lsblk=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_mdadm=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_kmod_md_raid456=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_kmod_md_linear=n
# Themes
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-opentomato=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_luci-theme-material=y
CONFIG_PACKAGE_luci-theme-openwrt=y
CONFIG_PACKAGE_luci-theme-rosy=y
# other
CONFIG_PACKAGE_ethtool=y
CONFIG_PACKAGE_luci-app-smartdns=y
CONFIG_PACKAGE_luci-app-cifs-mount=y
CONFIG_PACKAGE_luci-app-cifsd=y

# Network Devices
#
CONFIG_PACKAGE_kmod-3c59x=y
CONFIG_PACKAGE_kmod-8139cp=y
CONFIG_PACKAGE_kmod-8139too=y
CONFIG_PACKAGE_kmod-alx=y
CONFIG_PACKAGE_kmod-atl1=y
CONFIG_PACKAGE_kmod-atl1c=y
CONFIG_PACKAGE_kmod-atl1e=y
CONFIG_PACKAGE_kmod-atl2=y
CONFIG_PACKAGE_kmod-b44=y
CONFIG_PACKAGE_kmod-be2net=y
CONFIG_PACKAGE_kmod-bnx2=y
CONFIG_PACKAGE_kmod-bnx2x=y
CONFIG_PACKAGE_kmod-dm9000=y
CONFIG_PACKAGE_kmod-dummy=y
CONFIG_PACKAGE_kmod-e100=y
CONFIG_PACKAGE_kmod-e1000=y
CONFIG_PACKAGE_kmod-e1000e=y
CONFIG_PACKAGE_kmod-et131x=y
CONFIG_PACKAGE_kmod-ethoc=y
CONFIG_PACKAGE_kmod-forcedeth=y
CONFIG_PACKAGE_kmod-gigaset=y
CONFIG_PACKAGE_kmod-hfcmulti=y
CONFIG_PACKAGE_kmod-hfcpci=y
CONFIG_PACKAGE_kmod-i40e=y
CONFIG_PACKAGE_kmod-i40evf=y
CONFIG_PACKAGE_kmod-ifb=y
CONFIG_PACKAGE_kmod-igb=y
CONFIG_PACKAGE_kmod-igbvf=y
CONFIG_PACKAGE_kmod-ixgbe=y
CONFIG_PACKAGE_kmod-ixgbevf=y
CONFIG_PACKAGE_kmod-libphy=y
CONFIG_PACKAGE_kmod-macvlan=y
CONFIG_PACKAGE_kmod-mdio-gpio=y
CONFIG_PACKAGE_kmod-mii=y
CONFIG_PACKAGE_kmod-mlx4-core=y
CONFIG_PACKAGE_kmod-mlx5-core=y
CONFIG_PACKAGE_kmod-natsemi=y
CONFIG_PACKAGE_kmod-ne2k-pci=y
CONFIG_PACKAGE_kmod-niu=y
CONFIG_PACKAGE_kmod-of-mdio=y
CONFIG_PACKAGE_kmod-pcnet32=y
CONFIG_PACKAGE_kmod-phy-broadcom=y
CONFIG_PACKAGE_kmod-phy-realtek=y
CONFIG_PACKAGE_kmod-r6040=y
CONFIG_PACKAGE_kmod-r8125=y
CONFIG_PACKAGE_kmod-r8169=y
CONFIG_PACKAGE_kmod-sfc=y
CONFIG_PACKAGE_kmod-siit=y
CONFIG_PACKAGE_kmod-sis190=y
CONFIG_PACKAGE_kmod-sis900=y
CONFIG_PACKAGE_kmod-skge=y
CONFIG_PACKAGE_kmod-sky2=y
CONFIG_PACKAGE_kmod-solos-pci=y
CONFIG_PACKAGE_kmod-spi-ks8995=y
CONFIG_PACKAGE_kmod-swconfig=y
CONFIG_PACKAGE_kmod-switch-ip17xx=y
CONFIG_PACKAGE_kmod-switch-mvsw61xx=y
CONFIG_PACKAGE_kmod-switch-rtl8306=y
CONFIG_PACKAGE_kmod-switch-rtl8366-smi=y
CONFIG_PACKAGE_kmod-switch-rtl8366rb=y
CONFIG_PACKAGE_kmod-switch-rtl8366s=y
CONFIG_PACKAGE_kmod-switch-rtl8367b=y
CONFIG_PACKAGE_kmod-tg3=y
CONFIG_PACKAGE_kmod-tulip=y
CONFIG_PACKAGE_kmod-via-rhine=y
CONFIG_PACKAGE_kmod-via-velocity=y
CONFIG_PACKAGE_kmod-vmxnet3=y

# USB Support
#
CONFIG_PACKAGE_kmod-chaoskey=y
CONFIG_PACKAGE_kmod-usb-acm=y
CONFIG_PACKAGE_kmod-usb-atm=y
CONFIG_PACKAGE_kmod-usb-cm109=y
CONFIG_PACKAGE_kmod-usb-core=y
CONFIG_PACKAGE_kmod-usb-dwc2=y
CONFIG_PACKAGE_kmod-usb-dwc3=y
CONFIG_PACKAGE_kmod-usb-hid=y
CONFIG_PACKAGE_kmod-usb-ledtrig-usbport=y
CONFIG_PACKAGE_kmod-usb-net=y
CONFIG_PACKAGE_kmod-usb-net-asix=y
CONFIG_PACKAGE_kmod-usb-net-asix-ax88179=y
CONFIG_PACKAGE_kmod-usb-net-cdc-eem=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y
CONFIG_PACKAGE_kmod-usb-net-cdc-mbim=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ncm=y
CONFIG_PACKAGE_kmod-usb-net-cdc-subset=y
CONFIG_PACKAGE_kmod-usb-net-dm9601-ether=y
CONFIG_PACKAGE_kmod-usb-net-hso=y
CONFIG_PACKAGE_kmod-usb-net-huawei-cdc-ncm=y
CONFIG_PACKAGE_kmod-usb-net-ipheth=y
CONFIG_PACKAGE_kmod-usb-net-kalmia=y
CONFIG_PACKAGE_kmod-usb-net-kaweth=y
CONFIG_PACKAGE_kmod-usb-net-mcs7830=y
CONFIG_PACKAGE_kmod-usb-net-pegasus=y
CONFIG_PACKAGE_kmod-usb-net-pl=y
CONFIG_PACKAGE_kmod-usb-net-qmi-wwan=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y
CONFIG_PACKAGE_kmod-usb-net-rtl8150=y
CONFIG_PACKAGE_kmod-usb-net-rtl8152=y
CONFIG_PACKAGE_kmod-usb-net-sierrawireless=y
CONFIG_PACKAGE_kmod-usb-net-smsc95xx=y
CONFIG_PACKAGE_kmod-usb-net-sr9700=y
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-ohci-pci=y
CONFIG_PACKAGE_kmod-usb-printer=y
CONFIG_PACKAGE_kmod-usb-serial=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y
CONFIG_PACKAGE_kmod-usb-storage-uas=y
CONFIG_PACKAGE_kmod-usb-uhci=y
CONFIG_PACKAGE_kmod-usb-wdm=y
CONFIG_PACKAGE_kmod-usb-yealink=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb2-pci=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_kmod-usbip=y
CONFIG_PACKAGE_kmod-usbip-client=y
CONFIG_PACKAGE_kmod-usbip-server=y
CONFIG_PACKAGE_kmod-usbmon=y

#20200610
#freeswitch
CONFIG_PACKAGE_freeswitch=y
CONFIG_FS_WITH_DEBUG=y
CONFIG_FS_WITH_FREETYPE=y
CONFIG_FS_WITH_LIBYUV=y
CONFIG_FS_WITH_ODBC=y
CONFIG_FS_WITH_PNG=y
CONFIG_FS_WITH_SRTP=y
CONFIG_FS_WITH_VPX=y
CONFIG_FS_WITH_ZRTP=y
CONFIG_FS_WITH_MODCONF=y
CONFIG_PACKAGE_freeswitch-example-curl=y
CONFIG_PACKAGE_freeswitch-example-insideout=y
CONFIG_PACKAGE_freeswitch-example-minimal=y
CONFIG_PACKAGE_freeswitch-example-rayo=y
CONFIG_PACKAGE_freeswitch-example-sbc=y
CONFIG_PACKAGE_freeswitch-example-softphone=y
CONFIG_PACKAGE_freeswitch-example-testing=y
CONFIG_PACKAGE_freeswitch-example-vanilla=y
CONFIG_PACKAGE_freeswitch-lang-de=y
CONFIG_PACKAGE_freeswitch-lang-en=y
CONFIG_PACKAGE_freeswitch-lang-es=y
CONFIG_PACKAGE_freeswitch-lang-fr=y
CONFIG_PACKAGE_freeswitch-lang-he=y
CONFIG_PACKAGE_freeswitch-lang-pt=y
CONFIG_PACKAGE_freeswitch-lang-ru=y
CONFIG_PACKAGE_freeswitch-lang-sv=y
CONFIG_PACKAGE_freeswitch-misc-fonts=y
CONFIG_PACKAGE_freeswitch-misc-grammar=y
CONFIG_PACKAGE_freeswitch-misc-images=y
CONFIG_PACKAGE_freeswitch-misc-timezones=y
CONFIG_PACKAGE_freeswitch-mod-abstraction=y
CONFIG_PACKAGE_freeswitch-mod-alsa=y
CONFIG_PACKAGE_freeswitch-mod-amr=y
CONFIG_PACKAGE_freeswitch-mod-amrwb=y
CONFIG_PACKAGE_freeswitch-mod-av=y
CONFIG_PACKAGE_freeswitch-mod-avmd=y
CONFIG_PACKAGE_freeswitch-mod-b64=y
CONFIG_PACKAGE_freeswitch-mod-basic=y
CONFIG_PACKAGE_freeswitch-mod-bcg729=y
CONFIG_PACKAGE_freeswitch-mod-bert=y
CONFIG_PACKAGE_freeswitch-mod-blacklist=y
CONFIG_PACKAGE_freeswitch-mod-callcenter=y
CONFIG_PACKAGE_freeswitch-mod-cdr-csv=y
CONFIG_PACKAGE_freeswitch-mod-cdr-mongodb=y
CONFIG_PACKAGE_freeswitch-mod-cdr-pg-csv=y
CONFIG_PACKAGE_freeswitch-mod-cdr-sqlite=y
CONFIG_PACKAGE_freeswitch-mod-cidlookup=y
CONFIG_PACKAGE_freeswitch-mod-clearmode=y
CONFIG_PACKAGE_freeswitch-mod-cluechoo=y
CONFIG_PACKAGE_freeswitch-mod-commands=y
CONFIG_PACKAGE_freeswitch-mod-conference=y
CONFIG_PACKAGE_freeswitch-mod-console=y
CONFIG_PACKAGE_freeswitch-mod-curl=y
CONFIG_PACKAGE_freeswitch-mod-db=y
CONFIG_PACKAGE_freeswitch-mod-dialplan-asterisk=y
CONFIG_PACKAGE_freeswitch-mod-dialplan-directory=y
CONFIG_PACKAGE_freeswitch-mod-dialplan-xml=y
CONFIG_PACKAGE_freeswitch-mod-dingaling=y
CONFIG_PACKAGE_freeswitch-mod-directory=y
CONFIG_PACKAGE_freeswitch-mod-distributor=y
CONFIG_PACKAGE_freeswitch-mod-dptools=y
CONFIG_PACKAGE_freeswitch-mod-easyroute=y
CONFIG_PACKAGE_freeswitch-mod-enum=y
CONFIG_PACKAGE_freeswitch-mod-erlang-event=y
CONFIG_PACKAGE_freeswitch-mod-esf=y
CONFIG_PACKAGE_freeswitch-mod-esl=y
CONFIG_PACKAGE_freeswitch-mod-event-multicast=y
CONFIG_PACKAGE_freeswitch-mod-event-socket=y
CONFIG_PACKAGE_freeswitch-mod-event-test=y
CONFIG_PACKAGE_freeswitch-mod-expr=y
CONFIG_PACKAGE_freeswitch-mod-fail2ban=y
CONFIG_PACKAGE_freeswitch-mod-fifo=y
CONFIG_PACKAGE_freeswitch-mod-format-cdr=y
CONFIG_PACKAGE_freeswitch-mod-freetdm=y
CONFIG_PACKAGE_freeswitch-mod-fsk=y
CONFIG_PACKAGE_freeswitch-mod-fsv=y
CONFIG_PACKAGE_freeswitch-mod-g723-1=y
CONFIG_PACKAGE_freeswitch-mod-g729=y
CONFIG_PACKAGE_freeswitch-mod-graylog2=y
CONFIG_PACKAGE_freeswitch-mod-gsmopen=y
CONFIG_PACKAGE_freeswitch-mod-h26x=y
CONFIG_PACKAGE_freeswitch-mod-hash=y
CONFIG_PACKAGE_freeswitch-mod-hiredis=y
CONFIG_PACKAGE_freeswitch-mod-httapi=y
CONFIG_PACKAGE_freeswitch-mod-http-cache=y
CONFIG_PACKAGE_freeswitch-mod-isac=y
CONFIG_PACKAGE_freeswitch-mod-json-cdr=y
CONFIG_PACKAGE_freeswitch-mod-kazoo=y
CONFIG_PACKAGE_freeswitch-mod-lcr=y
CONFIG_PACKAGE_freeswitch-mod-ldap=y
CONFIG_PACKAGE_freeswitch-mod-local-stream=y
CONFIG_PACKAGE_freeswitch-mod-logfile=y
CONFIG_PACKAGE_freeswitch-mod-loopback=y
CONFIG_PACKAGE_freeswitch-mod-lua=y
CONFIG_PACKAGE_freeswitch-mod-mp4v=y
CONFIG_PACKAGE_freeswitch-mod-native-file=y
CONFIG_PACKAGE_freeswitch-mod-nibblebill=y
CONFIG_PACKAGE_freeswitch-mod-odbc-cdr=y
CONFIG_PACKAGE_freeswitch-mod-opus=y
CONFIG_PACKAGE_freeswitch-mod-opusfile=y
CONFIG_PACKAGE_freeswitch-mod-oreka=y
CONFIG_PACKAGE_freeswitch-mod-pgsql=y
CONFIG_PACKAGE_freeswitch-mod-png=y
CONFIG_PACKAGE_freeswitch-mod-pocketsphinx=y
CONFIG_PACKAGE_freeswitch-mod-portaudio=y
CONFIG_PACKAGE_freeswitch-mod-portaudio-stream=y
CONFIG_PACKAGE_freeswitch-mod-posix-timer=y
CONFIG_PACKAGE_freeswitch-mod-prefix=y
CONFIG_PACKAGE_freeswitch-mod-radius-cdr=y
CONFIG_PACKAGE_freeswitch-mod-random=y
CONFIG_PACKAGE_freeswitch-mod-raven=y
CONFIG_PACKAGE_freeswitch-mod-rayo=y
CONFIG_PACKAGE_freeswitch-mod-redis=y
CONFIG_PACKAGE_freeswitch-mod-rss=y
CONFIG_PACKAGE_freeswitch-mod-rtc=y
CONFIG_PACKAGE_freeswitch-mod-rtmp=y
CONFIG_PACKAGE_freeswitch-mod-say-de=y
CONFIG_PACKAGE_freeswitch-mod-say-en=y
CONFIG_PACKAGE_freeswitch-mod-say-es=y
CONFIG_PACKAGE_freeswitch-mod-say-es-ar=y
CONFIG_PACKAGE_freeswitch-mod-say-fa=y
CONFIG_PACKAGE_freeswitch-mod-say-fr=y
CONFIG_PACKAGE_freeswitch-mod-say-he=y
CONFIG_PACKAGE_freeswitch-mod-say-hr=y
CONFIG_PACKAGE_freeswitch-mod-say-hu=y
CONFIG_PACKAGE_freeswitch-mod-say-it=y
CONFIG_PACKAGE_freeswitch-mod-say-ja=y
CONFIG_PACKAGE_freeswitch-mod-say-nl=y
CONFIG_PACKAGE_freeswitch-mod-say-pl=y
CONFIG_PACKAGE_freeswitch-mod-say-pt=y
CONFIG_PACKAGE_freeswitch-mod-say-ru=y
CONFIG_PACKAGE_freeswitch-mod-say-sv=y
CONFIG_PACKAGE_freeswitch-mod-say-th=y
CONFIG_PACKAGE_freeswitch-mod-say-zh=y
CONFIG_PACKAGE_freeswitch-mod-shell-stream=y
CONFIG_PACKAGE_freeswitch-mod-shout=y
CONFIG_PACKAGE_freeswitch-mod-signalwire=y
CONFIG_PACKAGE_freeswitch-mod-skinny=y
CONFIG_PACKAGE_freeswitch-mod-sms=y
CONFIG_PACKAGE_freeswitch-mod-snapshot=y
CONFIG_PACKAGE_freeswitch-mod-sndfile=y
CONFIG_PACKAGE_freeswitch-mod-snmp=y
CONFIG_PACKAGE_freeswitch-mod-snom=y
CONFIG_PACKAGE_freeswitch-mod-sofia=y
CONFIG_PACKAGE_freeswitch-mod-sonar=y
CONFIG_PACKAGE_freeswitch-mod-spandsp=y
CONFIG_PACKAGE_freeswitch-mod-spy=y
CONFIG_PACKAGE_freeswitch-mod-ssml=y
CONFIG_PACKAGE_freeswitch-mod-stress=y
CONFIG_PACKAGE_freeswitch-mod-syslog=y
CONFIG_PACKAGE_freeswitch-mod-theora=y
CONFIG_PACKAGE_freeswitch-mod-tone-stream=y
CONFIG_PACKAGE_freeswitch-mod-translate=y
CONFIG_PACKAGE_freeswitch-mod-tts-commandline=y
CONFIG_PACKAGE_freeswitch-mod-unimrcp=y
CONFIG_PACKAGE_freeswitch-mod-valet-parking=y
CONFIG_PACKAGE_freeswitch-mod-verto=y
CONFIG_PACKAGE_freeswitch-mod-video-filter=y
CONFIG_PACKAGE_freeswitch-mod-vmd=y
CONFIG_PACKAGE_freeswitch-mod-voicemail=y
CONFIG_PACKAGE_freeswitch-mod-voicemail-ivr=y
CONFIG_PACKAGE_freeswitch-mod-xml-cdr=y
CONFIG_PACKAGE_freeswitch-mod-xml-curl=y
CONFIG_PACKAGE_freeswitch-mod-xml-ldap=y
CONFIG_PACKAGE_freeswitch-mod-xml-rpc=y
CONFIG_PACKAGE_freeswitch-mod-xml-scgi=y
CONFIG_PACKAGE_freeswitch-mod-yaml=y
CONFIG_PACKAGE_freeswitch-mod-yuv=y
CONFIG_PACKAGE_freeswitch-stable=y
CONFIG_PACKAGE_freeswitch-util-fs-cli=y
CONFIG_PACKAGE_freeswitch-util-fs-encode=y
CONFIG_PACKAGE_freeswitch-util-fs-ivrd=y
CONFIG_PACKAGE_freeswitch-util-fs-tts=y
CONFIG_PACKAGE_freeswitch-util-gentls-cert=y
CONFIG_PACKAGE_freeswitch-util-tone2wav=y
#siproxd
CONFIG_PACKAGE_siproxd=y
CONFIG_PACKAGE_siproxd-mod-codecfilter=y
# CONFIG_PACKAGE_siproxd-mod-defaulttarget is not set
CONFIG_PACKAGE_siproxd-mod-demo=y
CONFIG_PACKAGE_siproxd-mod-fix-DTAG=y
CONFIG_PACKAGE_siproxd-mod-fix-bogus-via=y
CONFIG_PACKAGE_siproxd-mod-fix-fbox-anoncall=y
CONFIG_PACKAGE_siproxd-mod-logcall=y
CONFIG_PACKAGE_siproxd-mod-prefix=y
CONFIG_PACKAGE_siproxd-mod-regex=y
CONFIG_PACKAGE_siproxd-mod-shortdial=y
CONFIG_PACKAGE_siproxd-mod-siptrunk=y
CONFIG_PACKAGE_siproxd-mod-stripheader=y
CONFIG_PACKAGE_siproxd-mod-stun=y

#v6隧道协议
CONFIG_PACKAGE_464xlat=y
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_6rd=y
CONFIG_PACKAGE_6to4=y
# Virtualization
#
CONFIG_PACKAGE_qemu-arm-softmmu=y
CONFIG_PACKAGE_qemu-bridge-helper=y
CONFIG_PACKAGE_qemu-firmware-efi=y
CONFIG_PACKAGE_qemu-firmware-pxe=y
CONFIG_PACKAGE_qemu-firmware-seabios=y
CONFIG_PACKAGE_qemu-firmware-seavgabios=y
CONFIG_PACKAGE_qemu-ga=y
CONFIG_PACKAGE_qemu-img=y
CONFIG_PACKAGE_qemu-keymaps=y
CONFIG_PACKAGE_qemu-nbd=y
CONFIG_PACKAGE_qemu-x86_64-softmmu=y
CONFIG_QEMU_UI_VNC=y
CONFIG_QEMU_UI_VNC_JPEG=y
CONFIG_QEMU_UI_VNC_PNG=y
CONFIG_QEMU_UI_VNC_SASL=y
CONFIG_QEMU_UI_SPICE=y
CONFIG_PACKAGE_virtio-console-helper=y
# Sound Support
CONFIG_PACKAGE_kmod-sound-core=y
CONFIG_PACKAGE_kmod-ac97=y
CONFIG_PACKAGE_kmod-pcspkr=y
CONFIG_PACKAGE_kmod-sound-dummy=y
CONFIG_PACKAGE_kmod-sound-ens1371=y
CONFIG_PACKAGE_kmod-sound-hda-core=y
CONFIG_PACKAGE_kmod-sound-hda-codec-analog=y
CONFIG_PACKAGE_kmod-sound-hda-codec-ca0110=y
CONFIG_PACKAGE_kmod-sound-hda-codec-ca0132=y
CONFIG_PACKAGE_kmod-sound-hda-codec-cirrus=y
CONFIG_PACKAGE_kmod-sound-hda-codec-cmedia=y
CONFIG_PACKAGE_kmod-sound-hda-codec-conexant=y
CONFIG_PACKAGE_kmod-sound-hda-codec-hdmi=y
CONFIG_PACKAGE_kmod-sound-hda-codec-idt=y
CONFIG_PACKAGE_kmod-sound-hda-codec-realtek=y
CONFIG_PACKAGE_kmod-sound-hda-codec-si3054=y
CONFIG_PACKAGE_kmod-sound-hda-codec-via=y
CONFIG_PACKAGE_kmod-sound-hda-intel=y
CONFIG_PACKAGE_kmod-sound-i8x0=y
CONFIG_PACKAGE_kmod-sound-mpu401=y
CONFIG_PACKAGE_kmod-sound-seq=y
CONFIG_PACKAGE_kmod-sound-soc-ac97=y
CONFIG_PACKAGE_kmod-sound-soc-core=y
CONFIG_PACKAGE_kmod-sound-via82xx=y
CONFIG_PACKAGE_kmod-usb-audio=y

# Video Support
#
CONFIG_PACKAGE_kmod-backlight-pwm=y
CONFIG_PACKAGE_kmod-drm-amdgpu=y
CONFIG_PACKAGE_kmod-drm-kms-helper=y
CONFIG_PACKAGE_kmod-drm-radeon=y
CONFIG_PACKAGE_kmod-drm-ttm=y
CONFIG_PACKAGE_kmod-fb=y
CONFIG_PACKAGE_kmod-fb-cfb-copyarea=y
CONFIG_PACKAGE_kmod-fb-cfb-fillrect=y
CONFIG_PACKAGE_kmod-fb-cfb-imgblt=y
CONFIG_PACKAGE_kmod-fb-sys-fops=y
CONFIG_PACKAGE_kmod-fb-sys-ram=y
CONFIG_PACKAGE_kmod-fb-tft=y
CONFIG_PACKAGE_kmod-fb-tft-ili9486=y
CONFIG_PACKAGE_kmod-video-core=y

#
# Virtualization
#
CONFIG_PACKAGE_kmod-kvm-amd=y
CONFIG_PACKAGE_kmod-kvm-intel=y
CONFIG_PACKAGE_kmod-kvm-x86=y
# Streaming
#
CONFIG_PACKAGE_ffmpeg=y
CONFIG_PACKAGE_ffprobe=y
CONFIG_PACKAGE_ffserver=y

##
# Telephony
#
CONFIG_PACKAGE_luci-app-asterisk=y
CONFIG_PACKAGE_asterisk16=y

#
# Advanced configuration
#
CONFIG_ASTERISK16_LOW_MEMORY is not set
CONFIG_PACKAGE_asterisk16-app-adsiprog=y
CONFIG_PACKAGE_asterisk16-app-agent-pool=y
CONFIG_PACKAGE_asterisk16-app-alarmreceiver=y
CONFIG_PACKAGE_asterisk16-app-amd=y
CONFIG_PACKAGE_asterisk16-app-authenticate=y
CONFIG_PACKAGE_asterisk16-app-bridgeaddchan=y
CONFIG_PACKAGE_asterisk16-app-bridgewait=y
CONFIG_PACKAGE_asterisk16-app-celgenuserevent=y
CONFIG_PACKAGE_asterisk16-app-chanisavail=y
CONFIG_PACKAGE_asterisk16-app-channelredirect=y
CONFIG_PACKAGE_asterisk16-app-chanspy=y
CONFIG_PACKAGE_asterisk16-app-confbridge=y
CONFIG_PACKAGE_asterisk16-app-controlplayback=y

CONFIG_PACKAGE_asterisk16-app-dictate=y
CONFIG_PACKAGE_asterisk16-app-directed-pickup=y
CONFIG_PACKAGE_asterisk16-app-directory=y
CONFIG_PACKAGE_asterisk16-app-disa=y
CONFIG_PACKAGE_asterisk16-app-dumpchan=y
CONFIG_PACKAGE_asterisk16-app-exec=y
CONFIG_PACKAGE_asterisk16-app-externalivr=y
CONFIG_PACKAGE_asterisk16-app-festival=y
CONFIG_PACKAGE_asterisk16-app-flash=y
CONFIG_PACKAGE_asterisk16-app-followme=y
CONFIG_PACKAGE_asterisk16-app-getcpeid=y
CONFIG_PACKAGE_asterisk16-app-ices=y
CONFIG_PACKAGE_asterisk16-app-image=y
CONFIG_PACKAGE_asterisk16-app-ivrdemo=y
CONFIG_PACKAGE_asterisk16-app-milliwatt=y
CONFIG_PACKAGE_asterisk16-app-minivm=y
CONFIG_PACKAGE_asterisk16-app-mixmonitor=y
CONFIG_PACKAGE_asterisk16-app-morsecode=y
CONFIG_PACKAGE_asterisk16-app-mp3=y
CONFIG_PACKAGE_asterisk16-app-originate=y
CONFIG_PACKAGE_asterisk16-app-page=y
CONFIG_PACKAGE_asterisk16-app-playtones=y
CONFIG_PACKAGE_asterisk16-app-privacy=y
CONFIG_PACKAGE_asterisk16-app-queue=y
CONFIG_PACKAGE_asterisk16-app-read=y
CONFIG_PACKAGE_asterisk16-app-readexten=y
CONFIG_PACKAGE_asterisk16-app-record=y
CONFIG_PACKAGE_asterisk16-app-saycounted=y
CONFIG_PACKAGE_asterisk16-app-sayunixtime=y
CONFIG_PACKAGE_asterisk16-app-senddtmf=y
CONFIG_PACKAGE_asterisk16-app-sendtext=y
CONFIG_PACKAGE_asterisk16-app-skel=y
CONFIG_PACKAGE_asterisk16-app-sms=y
CONFIG_PACKAGE_asterisk16-app-softhangup=y
CONFIG_PACKAGE_asterisk16-app-speech=y
CONFIG_PACKAGE_asterisk16-app-stack=y
CONFIG_PACKAGE_asterisk16-app-stasis=y
CONFIG_PACKAGE_asterisk16-app-statsd=y
CONFIG_PACKAGE_asterisk16-app-stream-echo=y
CONFIG_PACKAGE_asterisk16-app-system=y
CONFIG_PACKAGE_asterisk16-app-talkdetect=y
CONFIG_PACKAGE_asterisk16-app-test=y
CONFIG_PACKAGE_asterisk16-app-transfer=y
CONFIG_PACKAGE_asterisk16-app-url=y
CONFIG_PACKAGE_asterisk16-app-userevent=y
CONFIG_PACKAGE_asterisk16-app-verbose=y
CONFIG_PACKAGE_asterisk16-app-waitforring=y
CONFIG_PACKAGE_asterisk16-app-waitforsilence=y
CONFIG_PACKAGE_asterisk16-app-waituntil=y
CONFIG_PACKAGE_asterisk16-app-while=y
CONFIG_PACKAGE_asterisk16-app-zapateller=y
CONFIG_PACKAGE_asterisk16-bridge-builtin-features=y
CONFIG_PACKAGE_asterisk16-bridge-builtin-interval-features=y
CONFIG_PACKAGE_asterisk16-bridge-holding=y
CONFIG_PACKAGE_asterisk16-bridge-native-rtp=y
CONFIG_PACKAGE_asterisk16-bridge-simple=y
CONFIG_PACKAGE_asterisk16-bridge-softmix=y
CONFIG_PACKAGE_asterisk16-cdr=y
CONFIG_PACKAGE_asterisk16-cdr-csv=y
CONFIG_PACKAGE_asterisk16-cdr-sqlite3=y
CONFIG_PACKAGE_asterisk16-cel-custom=y
CONFIG_PACKAGE_asterisk16-cel-manager=y
CONFIG_PACKAGE_asterisk16-cel-sqlite3-custom=y
CONFIG_PACKAGE_asterisk16-chan-alsa=y
CONFIG_PACKAGE_asterisk16-chan-bridge-media=y
CONFIG_PACKAGE_asterisk16-chan-console=y

CONFIG_PACKAGE_asterisk16-chan-dongle=y
CONFIG_PACKAGE_asterisk16-chan-iax2=y
CONFIG_PACKAGE_asterisk16-chan-mgcp=y
CONFIG_PACKAGE_asterisk16-chan-mobile=y
CONFIG_PACKAGE_asterisk16-chan-motif=y
CONFIG_PACKAGE_asterisk16-chan-ooh323=y
CONFIG_PACKAGE_asterisk16-chan-oss=y
CONFIG_PACKAGE_asterisk16-chan-phone=y
CONFIG_PACKAGE_asterisk16-chan-rtp=y
CONFIG_PACKAGE_asterisk16-chan-sccp=y
CONFIG_PACKAGE_asterisk16-chan-sip=y
CONFIG_PACKAGE_asterisk16-chan-skinny=y
CONFIG_PACKAGE_asterisk16-chan-unistim=y
CONFIG_PACKAGE_asterisk16-codec-a-mu=y
CONFIG_PACKAGE_asterisk16-codec-adpcm=y
CONFIG_PACKAGE_asterisk16-codec-alaw=y

CONFIG_PACKAGE_asterisk16-codec-g722=y
CONFIG_PACKAGE_asterisk16-codec-g726=y
CONFIG_PACKAGE_asterisk16-codec-g729=y
CONFIG_PACKAGE_asterisk16-codec-gsm=y
CONFIG_PACKAGE_asterisk16-codec-ilbc=y
CONFIG_PACKAGE_asterisk16-codec-lpc10=y
CONFIG_PACKAGE_asterisk16-codec-opus=y
CONFIG_PACKAGE_asterisk16-codec-resample=y
CONFIG_PACKAGE_asterisk16-codec-speex=y
CONFIG_PACKAGE_asterisk16-codec-ulaw=y
CONFIG_PACKAGE_asterisk16-curl=y
CONFIG_PACKAGE_asterisk16-format-g719=y
CONFIG_PACKAGE_asterisk16-format-g723=y
CONFIG_PACKAGE_asterisk16-format-g726=y
CONFIG_PACKAGE_asterisk16-format-g729=y
CONFIG_PACKAGE_asterisk16-format-gsm=y
CONFIG_PACKAGE_asterisk16-format-h263=y
CONFIG_PACKAGE_asterisk16-format-h264=y
CONFIG_PACKAGE_asterisk16-format-ilbc=y
CONFIG_PACKAGE_asterisk16-format-ogg-speex=y
CONFIG_PACKAGE_asterisk16-format-ogg-vorbis=y
CONFIG_PACKAGE_asterisk16-format-pcm=y
CONFIG_PACKAGE_asterisk16-format-siren14=y
CONFIG_PACKAGE_asterisk16-format-siren7=y
CONFIG_PACKAGE_asterisk16-format-sln=y
CONFIG_PACKAGE_asterisk16-format-vox=y
CONFIG_PACKAGE_asterisk16-format-wav=y
CONFIG_PACKAGE_asterisk16-format-wav-gsm=y
CONFIG_PACKAGE_asterisk16-func-aes=y
CONFIG_PACKAGE_asterisk16-func-base64=y
CONFIG_PACKAGE_asterisk16-func-blacklist=y
CONFIG_PACKAGE_asterisk16-func-callcompletion=y
CONFIG_PACKAGE_asterisk16-func-channel=y
CONFIG_PACKAGE_asterisk16-func-config=y
CONFIG_PACKAGE_asterisk16-func-cut=y
CONFIG_PACKAGE_asterisk16-func-db=y
CONFIG_PACKAGE_asterisk16-func-devstate=y
CONFIG_PACKAGE_asterisk16-func-dialgroup=y
CONFIG_PACKAGE_asterisk16-func-dialplan=y
CONFIG_PACKAGE_asterisk16-func-enum=y
CONFIG_PACKAGE_asterisk16-func-env=y
CONFIG_PACKAGE_asterisk16-func-extstate=y
CONFIG_PACKAGE_asterisk16-func-frame-trace=y
CONFIG_PACKAGE_asterisk16-func-global=y
CONFIG_PACKAGE_asterisk16-func-groupcount=y
CONFIG_PACKAGE_asterisk16-func-hangupcause=y
CONFIG_PACKAGE_asterisk16-func-holdintercept=y
CONFIG_PACKAGE_asterisk16-func-iconv=y
CONFIG_PACKAGE_asterisk16-func-jitterbuffer=y
CONFIG_PACKAGE_asterisk16-func-lock=y
CONFIG_PACKAGE_asterisk16-func-math=y
CONFIG_PACKAGE_asterisk16-func-md5=y
CONFIG_PACKAGE_asterisk16-func-module=y
CONFIG_PACKAGE_asterisk16-func-periodic-hook=y
CONFIG_PACKAGE_asterisk16-func-pitchshift=y
CONFIG_PACKAGE_asterisk16-func-presencestate=y
CONFIG_PACKAGE_asterisk16-func-rand=y
CONFIG_PACKAGE_asterisk16-func-realtime=y
CONFIG_PACKAGE_asterisk16-func-sha1=y
CONFIG_PACKAGE_asterisk16-func-shell=y
CONFIG_PACKAGE_asterisk16-func-sorcery=y
CONFIG_PACKAGE_asterisk16-func-speex=y
CONFIG_PACKAGE_asterisk16-func-sprintf=y
CONFIG_PACKAGE_asterisk16-func-srv=y
CONFIG_PACKAGE_asterisk16-func-sysinfo=y
CONFIG_PACKAGE_asterisk16-func-talkdetect=y
CONFIG_PACKAGE_asterisk16-func-uri=y
CONFIG_PACKAGE_asterisk16-func-version=y
CONFIG_PACKAGE_asterisk16-func-vmcount=y
CONFIG_PACKAGE_asterisk16-func-volume=y
CONFIG_PACKAGE_asterisk16-odbc=y
CONFIG_PACKAGE_asterisk16-pbx-ael=y
CONFIG_PACKAGE_asterisk16-pbx-dundi=y
CONFIG_PACKAGE_asterisk16-pbx-loopback=y
CONFIG_PACKAGE_asterisk16-pbx-lua=y
CONFIG_PACKAGE_asterisk16-pbx-realtime=y
CONFIG_PACKAGE_asterisk16-pbx-spool=y
CONFIG_PACKAGE_asterisk16-pgsql=y
CONFIG_PACKAGE_asterisk16-pjsip=y
CONFIG_PACKAGE_asterisk16-res-adsi=y
CONFIG_PACKAGE_asterisk16-res-ael-share=y
CONFIG_PACKAGE_asterisk16-res-agi=y
CONFIG_PACKAGE_asterisk16-res-ari=y
CONFIG_PACKAGE_asterisk16-res-ari-applications=y
CONFIG_PACKAGE_asterisk16-res-ari-asterisk=y
CONFIG_PACKAGE_asterisk16-res-ari-bridges=y
CONFIG_PACKAGE_asterisk16-res-ari-channels=y
CONFIG_PACKAGE_asterisk16-res-ari-device-states=y
CONFIG_PACKAGE_asterisk16-res-ari-endpoints=y
CONFIG_PACKAGE_asterisk16-res-ari-events=y
CONFIG_PACKAGE_asterisk16-res-ari-mailboxes=y
CONFIG_PACKAGE_asterisk16-res-ari-model=y
CONFIG_PACKAGE_asterisk16-res-ari-playbacks=y
CONFIG_PACKAGE_asterisk16-res-ari-recordings=y
CONFIG_PACKAGE_asterisk16-res-ari-sounds=y
CONFIG_PACKAGE_asterisk16-res-calendar=y
CONFIG_PACKAGE_asterisk16-res-calendar-caldav=y
CONFIG_PACKAGE_asterisk16-res-calendar-ews=y
CONFIG_PACKAGE_asterisk16-res-calendar-exchange=y
CONFIG_PACKAGE_asterisk16-res-calendar-icalendar=y
CONFIG_PACKAGE_asterisk16-res-chan-stats=y
CONFIG_PACKAGE_asterisk16-res-clialiases=y
CONFIG_PACKAGE_asterisk16-res-clioriginate=y
CONFIG_PACKAGE_asterisk16-res-config-ldap=y
#CONFIG_PACKAGE_asterisk16-res-config-mysql=y
CONFIG_PACKAGE_asterisk16-res-config-sqlite3=y
CONFIG_PACKAGE_asterisk16-res-convert=y
CONFIG_PACKAGE_asterisk16-res-endpoint-stats=y
CONFIG_PACKAGE_asterisk16-res-fax=y
CONFIG_PACKAGE_asterisk16-res-fax-spandsp=y
CONFIG_PACKAGE_asterisk16-res-format-attr-celt=y
CONFIG_PACKAGE_asterisk16-res-format-attr-g729=y
CONFIG_PACKAGE_asterisk16-res-format-attr-h263=y
CONFIG_PACKAGE_asterisk16-res-format-attr-h264=y
CONFIG_PACKAGE_asterisk16-res-format-attr-ilbc=y
CONFIG_PACKAGE_asterisk16-res-format-attr-opus=y
CONFIG_PACKAGE_asterisk16-res-format-attr-silk=y
CONFIG_PACKAGE_asterisk16-res-format-attr-siren14=y
CONFIG_PACKAGE_asterisk16-res-format-attr-siren7=y
CONFIG_PACKAGE_asterisk16-res-format-attr-vp8=y
CONFIG_PACKAGE_asterisk16-res-hep=y
CONFIG_PACKAGE_asterisk16-res-hep-pjsip=y
CONFIG_PACKAGE_asterisk16-res-hep-rtcp=y
CONFIG_PACKAGE_asterisk16-res-http-media-cache=y
CONFIG_PACKAGE_asterisk16-res-http-websocket=y
CONFIG_PACKAGE_asterisk16-res-limit=y
CONFIG_PACKAGE_asterisk16-res-manager-devicestate=y
CONFIG_PACKAGE_asterisk16-res-manager-presencestate=y
CONFIG_PACKAGE_asterisk16-res-monitor=y
CONFIG_PACKAGE_asterisk16-res-musiconhold=y
CONFIG_PACKAGE_asterisk16-res-mutestream=y
CONFIG_PACKAGE_asterisk16-res-mwi-devstate=y
CONFIG_PACKAGE_asterisk16-res-mwi-external=y
CONFIG_PACKAGE_asterisk16-res-mwi-external-ami=y
CONFIG_PACKAGE_asterisk16-res-parking=y
CONFIG_PACKAGE_asterisk16-res-phoneprov=y
CONFIG_PACKAGE_asterisk16-res-pjproject=y
CONFIG_PACKAGE_asterisk16-res-pjsip-phoneprov=y
CONFIG_PACKAGE_asterisk16-res-pktccops=y
CONFIG_PACKAGE_asterisk16-res-realtime=y
CONFIG_PACKAGE_asterisk16-res-remb-modifier=y
CONFIG_PACKAGE_asterisk16-res-resolver-unbound=y
CONFIG_PACKAGE_asterisk16-res-rtp-asterisk=y
CONFIG_PACKAGE_asterisk16-res-rtp-multicast=y
CONFIG_PACKAGE_asterisk16-res-security-log=y
CONFIG_PACKAGE_asterisk16-res-smdi=y
CONFIG_PACKAGE_asterisk16-res-snmp=y
CONFIG_PACKAGE_asterisk16-res-sorcery=y
CONFIG_PACKAGE_asterisk16-res-sorcery-memory-cache=y
CONFIG_PACKAGE_asterisk16-res-speech=y
CONFIG_PACKAGE_asterisk16-res-srtp=y
CONFIG_PACKAGE_asterisk16-res-stasis=y
CONFIG_PACKAGE_asterisk16-res-stasis-answer=y
CONFIG_PACKAGE_asterisk16-res-stasis-device-state=y
CONFIG_PACKAGE_asterisk16-res-stasis-mailbox=y
CONFIG_PACKAGE_asterisk16-res-stasis-playback=y
CONFIG_PACKAGE_asterisk16-res-stasis-recording=y
CONFIG_PACKAGE_asterisk16-res-stasis-snoop=y
CONFIG_PACKAGE_asterisk16-res-statsd=y
CONFIG_PACKAGE_asterisk16-res-stun-monitor=y

CONFIG_PACKAGE_asterisk16-res-timing-pthread=y
CONFIG_PACKAGE_asterisk16-res-timing-timerfd=y
CONFIG_PACKAGE_asterisk16-res-xmpp=y
CONFIG_PACKAGE_asterisk16-sounds=y
CONFIG_PACKAGE_asterisk16-util-aelparse=y
CONFIG_PACKAGE_asterisk16-util-astcanary=y
CONFIG_PACKAGE_asterisk16-util-astdb2bdb=y
CONFIG_PACKAGE_asterisk16-util-astdb2sqlite3=y
CONFIG_PACKAGE_asterisk16-util-check-expr=y
CONFIG_PACKAGE_asterisk16-util-check-expr2=y
CONFIG_PACKAGE_asterisk16-util-conf2ael=y
CONFIG_PACKAGE_asterisk16-util-muted=y
CONFIG_PACKAGE_asterisk16-util-smsq=y
CONFIG_PACKAGE_asterisk16-util-stereorize=y
CONFIG_PACKAGE_asterisk16-util-streamplayer=y
CONFIG_PACKAGE_asterisk16-voicemail=y


# Python
#
CONFIG_PACKAGE_docker-compose=y
CONFIG_PACKAGE_gunicorn=y
CONFIG_PACKAGE_gunicorn3=y
CONFIG_PACKAGE_micropython=y
CONFIG_PACKAGE_micropython-lib=y
CONFIG_PACKAGE_python=y
CONFIG_PACKAGE_python-astral=y
CONFIG_PACKAGE_python-astral-src=y
CONFIG_PACKAGE_python-attrs=y
CONFIG_PACKAGE_python-attrs-src=y
CONFIG_PACKAGE_python-automat=y
CONFIG_PACKAGE_python-automat-src=y
CONFIG_PACKAGE_python-awscli=y
CONFIG_PACKAGE_python-awscli-src=y
CONFIG_PACKAGE_python-base=y
CONFIG_PACKAGE_python-base-src=y
CONFIG_PACKAGE_python-bcrypt=y
CONFIG_PACKAGE_python-bcrypt-src=y
CONFIG_PACKAGE_python-botocore=y
CONFIG_PACKAGE_python-botocore-src=y
CONFIG_PACKAGE_python-certifi=y
CONFIG_PACKAGE_python-certifi-src=y
CONFIG_PACKAGE_python-cffi=y
CONFIG_PACKAGE_python-cffi-src=y
CONFIG_PACKAGE_python-chardet=y
CONFIG_PACKAGE_python-chardet-src=y
CONFIG_PACKAGE_python-codecs=y
CONFIG_PACKAGE_python-codecs-src=y
CONFIG_PACKAGE_python-colorama=y
CONFIG_PACKAGE_python-colorama-src=y
CONFIG_PACKAGE_python-compiler=y
CONFIG_PACKAGE_python-compiler-src=y
CONFIG_PACKAGE_python-constantly=y
CONFIG_PACKAGE_python-constantly-src=y
CONFIG_PACKAGE_python-crcmod=y
CONFIG_PACKAGE_python-crypto=y
CONFIG_PACKAGE_python-crypto-src=y
CONFIG_PACKAGE_python-cryptodome=y
CONFIG_PACKAGE_python-cryptodome-src=y
CONFIG_PACKAGE_python-cryptodomex=y
CONFIG_PACKAGE_python-cryptodomex-src=y
CONFIG_PACKAGE_python-cryptography=y
CONFIG_PACKAGE_python-cryptography-src=y
CONFIG_PACKAGE_python-ctypes=y
CONFIG_PACKAGE_python-ctypes-src=y
CONFIG_PACKAGE_python-curl=y
CONFIG_PACKAGE_python-curl-src=y
CONFIG_PACKAGE_python-dateutil=y
CONFIG_PACKAGE_python-dateutil-src=y
CONFIG_PACKAGE_python-db=y
CONFIG_PACKAGE_python-db-src=y
CONFIG_PACKAGE_python-decimal=y
CONFIG_PACKAGE_python-decimal-src=y
CONFIG_PACKAGE_python-defusedxml=y
CONFIG_PACKAGE_python-defusedxml-src=y
CONFIG_PACKAGE_python-dev=y
CONFIG_PACKAGE_python-dev-src=y
CONFIG_PACKAGE_python-distutils=y
CONFIG_PACKAGE_python-distutils-src=y
CONFIG_PACKAGE_python-django1=y
CONFIG_PACKAGE_python-django1-common=y
CONFIG_PACKAGE_python-django1-src=y
CONFIG_PACKAGE_python-dns=y
CONFIG_PACKAGE_python-dns-src=y
CONFIG_PACKAGE_python-docutils=y
CONFIG_PACKAGE_python-docutils-src=y
CONFIG_PACKAGE_python-dpkt=y
CONFIG_PACKAGE_python-egenix-mx-base=y
CONFIG_PACKAGE_python-egenix-mx-base-src=y
CONFIG_PACKAGE_python-email=y
CONFIG_PACKAGE_python-email-src=y
CONFIG_PACKAGE_python-enum34=y
CONFIG_PACKAGE_python-enum34-src=y
CONFIG_PACKAGE_python-et_xmlfile=y
CONFIG_PACKAGE_python-et_xmlfile-src=y
CONFIG_PACKAGE_python-evdev=y
CONFIG_PACKAGE_python-evdev-src=y
CONFIG_PACKAGE_python-flup=y
CONFIG_PACKAGE_python-flup-src=y
CONFIG_PACKAGE_python-futures=y
CONFIG_PACKAGE_python-futures-src=y
CONFIG_PACKAGE_python-gdbm=y
CONFIG_PACKAGE_python-gdbm-src=y
CONFIG_PACKAGE_python-gmpy2=y
CONFIG_PACKAGE_python-gmpy2-src=y
CONFIG_PACKAGE_python-gnupg=y
CONFIG_PACKAGE_python-gunicorn=y
CONFIG_PACKAGE_python-gunicorn-src=y
CONFIG_PACKAGE_python-hyperlink=y
CONFIG_PACKAGE_python-hyperlink-src=y
CONFIG_PACKAGE_python-idna=y
CONFIG_PACKAGE_python-idna-src=y
CONFIG_PACKAGE_python-incremental=y
CONFIG_PACKAGE_python-incremental-src=y
CONFIG_PACKAGE_python-ipaddress=y
CONFIG_PACKAGE_python-ipaddress-src=y
CONFIG_PACKAGE_python-jdcal=y
CONFIG_PACKAGE_python-jdcal-src=y
CONFIG_PACKAGE_python-jmespath=y
CONFIG_PACKAGE_python-jmespath-src=y
CONFIG_PACKAGE_python-ldap=y
CONFIG_PACKAGE_python-lib2to3=y
CONFIG_PACKAGE_python-lib2to3-src=y
CONFIG_PACKAGE_python-libmodbus=y
CONFIG_PACKAGE_python-light=y

#
Configuration
#
CONFIG_PYTHON_BLUETOOTH_SUPPORT=y
CONFIG_PACKAGE_python-light-src=y
CONFIG_PACKAGE_python-logging=y
CONFIG_PACKAGE_python-logging-src=y
CONFIG_PACKAGE_python-lxml=y
CONFIG_PACKAGE_python-lxml-src=y
CONFIG_PACKAGE_python-multiprocessing=y
CONFIG_PACKAGE_python-multiprocessing-src=y
#CONFIG_PACKAGE_python-mysqlclient=y
#CONFIG_PACKAGE_python-mysqlclient-src=y
CONFIG_PACKAGE_python-ncurses=y
CONFIG_PACKAGE_python-ncurses-src=y
CONFIG_PACKAGE_python-oauthlib=y
CONFIG_PACKAGE_python-oauthlib-src=y
CONFIG_PACKAGE_python-openpyxl=y
CONFIG_PACKAGE_python-openpyxl-src=y
CONFIG_PACKAGE_python-openssl=y
CONFIG_PACKAGE_python-openssl-src=y
CONFIG_PACKAGE_python-parsley=y
CONFIG_PACKAGE_python-parsley-src=y
CONFIG_PACKAGE_python-passlib=y
CONFIG_PACKAGE_python-passlib-src=y
CONFIG_PACKAGE_python-pcapy=y
CONFIG_PACKAGE_python-pillow=y
CONFIG_PACKAGE_python-pillow-src=y
CONFIG_PACKAGE_python-pip=y
CONFIG_PACKAGE_python-pip-conf=y
CONFIG_PACKAGE_python-pip-src=y
CONFIG_PACKAGE_python-pkg-resources=y
CONFIG_PACKAGE_python-pkg-resources-src=y
CONFIG_PACKAGE_python-ply=y
CONFIG_PACKAGE_python-ply-src=y
CONFIG_PACKAGE_python-psycopg2=y
CONFIG_PACKAGE_python-pyasn1=y
CONFIG_PACKAGE_python-pyasn1-modules=y
CONFIG_PACKAGE_python-pyasn1-modules-src=y
CONFIG_PACKAGE_python-pyasn1-src=y
CONFIG_PACKAGE_python-pycparser=y
CONFIG_PACKAGE_python-pycparser-src=y
CONFIG_PACKAGE_python-pydoc=y
CONFIG_PACKAGE_python-pydoc-src=y
CONFIG_PACKAGE_python-pyjwt=y
CONFIG_PACKAGE_python-pyjwt-src=y
CONFIG_PACKAGE_python-pyodbc=y
CONFIG_PACKAGE_python-pyopenssl=y
CONFIG_PACKAGE_python-pyopenssl-src=y
CONFIG_PACKAGE_python-pyptlib=y
CONFIG_PACKAGE_python-pyptlib-src=y
CONFIG_PACKAGE_python-pyserial=y
CONFIG_PACKAGE_python-pyserial-src=y
CONFIG_PACKAGE_python-pytz=y
CONFIG_PACKAGE_python-pytz-src=y
CONFIG_PACKAGE_python-qrcode=y
CONFIG_PACKAGE_python-qrcode-src=y
CONFIG_PACKAGE_python-rcssmin=y
CONFIG_PACKAGE_python-rcssmin-src=y
CONFIG_PACKAGE_python-requests=y
CONFIG_PACKAGE_python-requests-oauthlib=y
CONFIG_PACKAGE_python-requests-oauthlib-src=y
CONFIG_PACKAGE_python-requests-src=y
CONFIG_PACKAGE_python-rsa=y
CONFIG_PACKAGE_python-rsa-src=y
CONFIG_PACKAGE_python-ruamel-yaml=y
CONFIG_PACKAGE_python-ruamel-yaml-src=y
CONFIG_PACKAGE_python-s3transfer=y
CONFIG_PACKAGE_python-s3transfer-src=y
CONFIG_PACKAGE_python-service-identity=y
CONFIG_PACKAGE_python-service-identity-src=y
CONFIG_PACKAGE_python-setuptools=y
CONFIG_PACKAGE_python-setuptools-src=y
CONFIG_PACKAGE_python-simplejson=y
CONFIG_PACKAGE_python-simplejson-src=y
CONFIG_PACKAGE_python-six=y
CONFIG_PACKAGE_python-six-src=y
CONFIG_PACKAGE_python-smbus=y
CONFIG_PACKAGE_python-sqlite3=y
CONFIG_PACKAGE_python-sqlite3-src=y
CONFIG_PACKAGE_python-text-unidecode=y
CONFIG_PACKAGE_python-text-unidecode-src=y
CONFIG_PACKAGE_python-twisted=y
CONFIG_PACKAGE_python-twisted-src=y
CONFIG_PACKAGE_python-txsocksx=y
CONFIG_PACKAGE_python-txsocksx-src=y
CONFIG_PACKAGE_python-unittest=y
CONFIG_PACKAGE_python-unittest-src=y
CONFIG_PACKAGE_python-urllib3=y
CONFIG_PACKAGE_python-urllib3-src=y
CONFIG_PACKAGE_python-vobject=y
CONFIG_PACKAGE_python-vobject-src=y
CONFIG_PACKAGE_python-voluptuous=y
CONFIG_PACKAGE_python-voluptuous-src=y
CONFIG_PACKAGE_python-xml=y
CONFIG_PACKAGE_python-xml-src=y
CONFIG_PACKAGE_python-yaml=y
CONFIG_PACKAGE_python-yaml-src=y
CONFIG_PACKAGE_python-zope-interface=y
CONFIG_PACKAGE_python-zope-interface-src=y
CONFIG_PACKAGE_python3=y
CONFIG_PACKAGE_python3-aiohttp=y
CONFIG_PACKAGE_python3-aiohttp-cors=y
CONFIG_PACKAGE_python3-aiohttp-cors-src=y
CONFIG_PACKAGE_python3-aiohttp-src=y
CONFIG_PACKAGE_python3-appdirs=y
CONFIG_PACKAGE_python3-appdirs-src=y
CONFIG_PACKAGE_python3-asgiref=y
CONFIG_PACKAGE_python3-asgiref-src=y
CONFIG_PACKAGE_python3-asn1crypto=y
CONFIG_PACKAGE_python3-asn1crypto-src=y
CONFIG_PACKAGE_python3-astral=y
CONFIG_PACKAGE_python3-astral-src=y
CONFIG_PACKAGE_python3-async-timeout=y
CONFIG_PACKAGE_python3-async-timeout-src=y
CONFIG_PACKAGE_python3-asyncio=y
CONFIG_PACKAGE_python3-asyncio-src=y
CONFIG_PACKAGE_python3-atomicwrites=y
CONFIG_PACKAGE_python3-atomicwrites-src=y
CONFIG_PACKAGE_python3-attrs=y
CONFIG_PACKAGE_python3-attrs-src=y
CONFIG_PACKAGE_python3-automat=y
CONFIG_PACKAGE_python3-automat-src=y
CONFIG_PACKAGE_python3-awscli=y
CONFIG_PACKAGE_python3-awscli-src=y
CONFIG_PACKAGE_python3-base=y
CONFIG_PACKAGE_python3-base-src=y
CONFIG_PACKAGE_python3-bcrypt=y
CONFIG_PACKAGE_python3-bcrypt-src=y
CONFIG_PACKAGE_python3-boto3=y
CONFIG_PACKAGE_python3-boto3-src=y
CONFIG_PACKAGE_python3-botocore=y
CONFIG_PACKAGE_python3-botocore-src=y
CONFIG_PACKAGE_python3-bottle=y
CONFIG_PACKAGE_python3-bottle-src=y
CONFIG_PACKAGE_python3-cached-property=y
CONFIG_PACKAGE_python3-cachelib=y
CONFIG_PACKAGE_python3-cachelib-src=y
CONFIG_PACKAGE_python3-cachetools=y
CONFIG_PACKAGE_python3-cachetools-src=y
CONFIG_PACKAGE_python3-certifi=y
CONFIG_PACKAGE_python3-certifi-src=y
CONFIG_PACKAGE_python3-cffi=y
CONFIG_PACKAGE_python3-cffi-src=y
CONFIG_PACKAGE_python3-cgi=y
CONFIG_PACKAGE_python3-cgi-src=y
CONFIG_PACKAGE_python3-cgitb=y
CONFIG_PACKAGE_python3-cgitb-src=y
CONFIG_PACKAGE_python3-chardet=y
CONFIG_PACKAGE_python3-chardet-src=y
CONFIG_PACKAGE_python3-click=y
CONFIG_PACKAGE_python3-click-log=y
CONFIG_PACKAGE_python3-click-log-src=y
CONFIG_PACKAGE_python3-click-src=y
CONFIG_PACKAGE_python3-codecs=y
CONFIG_PACKAGE_python3-codecs-src=y
CONFIG_PACKAGE_python3-colorama=y
CONFIG_PACKAGE_python3-colorama-src=y
CONFIG_PACKAGE_python3-constantly=y
CONFIG_PACKAGE_python3-constantly-src=y
CONFIG_PACKAGE_python3-contextlib2=y
CONFIG_PACKAGE_python3-contextlib2-src=y
CONFIG_PACKAGE_python3-crypto=y
CONFIG_PACKAGE_python3-crypto-src=y
CONFIG_PACKAGE_python3-cryptodome=y
CONFIG_PACKAGE_python3-cryptodome-src=y
CONFIG_PACKAGE_python3-cryptodomex=y
CONFIG_PACKAGE_python3-cryptodomex-src=y
CONFIG_PACKAGE_python3-cryptography=y
CONFIG_PACKAGE_python3-cryptography-src=y
CONFIG_PACKAGE_python3-ctypes=y
CONFIG_PACKAGE_python3-ctypes-src=y
CONFIG_PACKAGE_python3-curl=y
CONFIG_PACKAGE_python3-curl-src=y
CONFIG_PACKAGE_python3-dateutil=y
CONFIG_PACKAGE_python3-dateutil-src=y
CONFIG_PACKAGE_python3-dbm=y
CONFIG_PACKAGE_python3-dbm-src=y
CONFIG_PACKAGE_python3-decimal=y
CONFIG_PACKAGE_python3-decimal-src=y
CONFIG_PACKAGE_python3-decorator=y
CONFIG_PACKAGE_python3-decorator-src=y
CONFIG_PACKAGE_python3-defusedxml=y
CONFIG_PACKAGE_python3-defusedxml-src=y
CONFIG_PACKAGE_python3-dev=y
CONFIG_PACKAGE_python3-dev-src=y
CONFIG_PACKAGE_python3-distro=y
CONFIG_PACKAGE_python3-distutils=y
CONFIG_PACKAGE_python3-distutils-src=y
CONFIG_PACKAGE_python3-django=y
CONFIG_PACKAGE_python3-django-appconf=y
CONFIG_PACKAGE_python3-django-appconf-src=y
CONFIG_PACKAGE_python3-django-compressor=y
CONFIG_PACKAGE_python3-django-compressor-src=y
CONFIG_PACKAGE_python3-django-constance=y
CONFIG_PACKAGE_python3-django-constance-src=y
CONFIG_PACKAGE_python3-django-cors-headers=y
CONFIG_PACKAGE_python3-django-cors-headers-src=y
CONFIG_PACKAGE_python3-django-etesync-journal=y
CONFIG_PACKAGE_python3-django-etesync-journal-src=y
CONFIG_PACKAGE_python3-django-formtools=y
CONFIG_PACKAGE_python3-django-formtools-src=y
CONFIG_PACKAGE_python3-django-jsonfield=y
CONFIG_PACKAGE_python3-django-jsonfield-src=y
CONFIG_PACKAGE_python3-django-jsonfield2=y
CONFIG_PACKAGE_python3-django-picklefield=y
CONFIG_PACKAGE_python3-django-picklefield-src=y
CONFIG_PACKAGE_python3-django-postoffice=y
CONFIG_PACKAGE_python3-django-postoffice-src=y
CONFIG_PACKAGE_python3-django-ranged-response=y
CONFIG_PACKAGE_python3-django-ranged-response-src=y
CONFIG_PACKAGE_python3-django-restframework=y
CONFIG_PACKAGE_python3-django-restframework-src=y
CONFIG_PACKAGE_python3-django-restframework39=y
CONFIG_PACKAGE_python3-django-restframework39-src=y
CONFIG_PACKAGE_python3-django-simple-captcha=y
CONFIG_PACKAGE_python3-django-simple-captcha-src=y
CONFIG_PACKAGE_python3-django-src=y
CONFIG_PACKAGE_python3-django-statici18n=y
CONFIG_PACKAGE_python3-django-statici18n-src=y
CONFIG_PACKAGE_python3-django-webpack-loader=y
CONFIG_PACKAGE_python3-django-webpack-loader-src=y
CONFIG_PACKAGE_python3-django1=y
CONFIG_PACKAGE_python3-django1-src=y
CONFIG_PACKAGE_python3-dns=y
CONFIG_PACKAGE_python3-dns-src=y
CONFIG_PACKAGE_python3-docker=y
CONFIG_PACKAGE_python3-dockerpty=y
CONFIG_PACKAGE_python3-docopt=y
CONFIG_PACKAGE_python3-docutils=y
CONFIG_PACKAGE_python3-docutils-src=y
CONFIG_PACKAGE_python3-dotenv=y
CONFIG_PACKAGE_python3-drf-nested-routers=y
CONFIG_PACKAGE_python3-drf-nested-routers-src=y
CONFIG_PACKAGE_python3-email=y
CONFIG_PACKAGE_python3-email-src=y
CONFIG_PACKAGE_python3-et_xmlfile=y
CONFIG_PACKAGE_python3-et_xmlfile-src=y
CONFIG_PACKAGE_python3-evdev=y
CONFIG_PACKAGE_python3-evdev-src=y
CONFIG_PACKAGE_python3-flask=y
CONFIG_PACKAGE_python3-flask-login=y
CONFIG_PACKAGE_python3-flask-login-src=y
CONFIG_PACKAGE_python3-flask-src=y
CONFIG_PACKAGE_python3-flup=y
CONFIG_PACKAGE_python3-flup-src=y
CONFIG_PACKAGE_python3-gdbm=y
CONFIG_PACKAGE_python3-gdbm-src=y
CONFIG_PACKAGE_python3-gmpy2=y
CONFIG_PACKAGE_python3-gmpy2-src=y
CONFIG_PACKAGE_python3-gnupg=y
CONFIG_PACKAGE_python3-gunicorn=y
CONFIG_PACKAGE_python3-gunicorn-src=y
CONFIG_PACKAGE_python3-hyperlink=y
CONFIG_PACKAGE_python3-hyperlink-src=y
CONFIG_PACKAGE_python3-idna=y
CONFIG_PACKAGE_python3-idna-src=y
CONFIG_PACKAGE_python3-ifaddr=y
CONFIG_PACKAGE_python3-ifaddr-src=y
CONFIG_PACKAGE_python3-incremental=y
CONFIG_PACKAGE_python3-incremental-src=y
CONFIG_PACKAGE_python3-influxdb=y
CONFIG_PACKAGE_python3-influxdb-src=y
CONFIG_PACKAGE_python3-intelhex=y
CONFIG_PACKAGE_python3-intelhex-src=y
CONFIG_PACKAGE_python3-itsdangerous=y
CONFIG_PACKAGE_python3-itsdangerous-src=y
CONFIG_PACKAGE_python3-jdcal=y
CONFIG_PACKAGE_python3-jdcal-src=y
CONFIG_PACKAGE_python3-jinja2=y
CONFIG_PACKAGE_python3-jinja2-src=y
CONFIG_PACKAGE_python3-jmespath=y
CONFIG_PACKAGE_python3-jmespath-src=y
CONFIG_PACKAGE_python3-jsonpath-ng=y
CONFIG_PACKAGE_python3-jsonpath-ng-src=y
CONFIG_PACKAGE_python3-jsonschema=y
CONFIG_PACKAGE_python3-lib2to3=y
CONFIG_PACKAGE_python3-lib2to3-src=y
CONFIG_PACKAGE_python3-libmodbus=y
CONFIG_PACKAGE_python3-light=y

#
Configuration
#
CONFIG_PYTHON3_BLUETOOTH_SUPPORT=y
CONFIG_PACKAGE_python3-light-src=y
CONFIG_PACKAGE_python3-logging=y
CONFIG_PACKAGE_python3-logging-src=y
CONFIG_PACKAGE_python3-lxml=y
CONFIG_PACKAGE_python3-lxml-src=y
CONFIG_PACKAGE_python3-lzma=y
CONFIG_PACKAGE_python3-lzma-src=y
CONFIG_PACKAGE_python3-markdown=y
CONFIG_PACKAGE_python3-markdown-src=y
CONFIG_PACKAGE_python3-markupsafe=y
CONFIG_PACKAGE_python3-markupsafe-src=y
CONFIG_PACKAGE_python3-maxminddb=y
CONFIG_PACKAGE_python3-maxminddb-src=y
CONFIG_PACKAGE_python3-more-itertools=y
CONFIG_PACKAGE_python3-more-itertools-src=y
CONFIG_PACKAGE_python3-multidict=y
CONFIG_PACKAGE_python3-multidict-src=y
CONFIG_PACKAGE_python3-multiprocessing=y
CONFIG_PACKAGE_python3-multiprocessing-src=y
#CONFIG_PACKAGE_python3-mysqlclient=y
#CONFIG_PACKAGE_python3-mysqlclient-src=y
CONFIG_PACKAGE_python3-ncurses=y
CONFIG_PACKAGE_python3-ncurses-src=y
CONFIG_PACKAGE_python3-netdisco=y
CONFIG_PACKAGE_python3-netdisco-src=y
CONFIG_PACKAGE_python3-netifaces=y
CONFIG_PACKAGE_python3-netifaces-src=y
CONFIG_PACKAGE_python3-newt=y
CONFIG_PACKAGE_python3-oauthlib=y
CONFIG_PACKAGE_python3-oauthlib-src=y
CONFIG_PACKAGE_python3-openpyxl=y
CONFIG_PACKAGE_python3-openpyxl-src=y
CONFIG_PACKAGE_python3-openssl=y
CONFIG_PACKAGE_python3-openssl-src=y
CONFIG_PACKAGE_python3-packaging=y
CONFIG_PACKAGE_python3-paho-mqtt=y
CONFIG_PACKAGE_python3-paho-mqtt-src=y
CONFIG_PACKAGE_python3-paramiko=y
CONFIG_PACKAGE_python3-parsley=y
CONFIG_PACKAGE_python3-parsley-src=y
CONFIG_PACKAGE_python3-passlib=y
CONFIG_PACKAGE_python3-passlib-src=y
CONFIG_PACKAGE_python3-pillow=y
CONFIG_PACKAGE_python3-pillow-src=y
CONFIG_PACKAGE_python3-pip=y
CONFIG_PACKAGE_python3-pip-src=y
CONFIG_PACKAGE_python3-pkg-resources=y
CONFIG_PACKAGE_python3-pkg-resources-src=y
CONFIG_PACKAGE_python3-pluggy=y
CONFIG_PACKAGE_python3-ply=y
CONFIG_PACKAGE_python3-ply-src=y
CONFIG_PACKAGE_python3-py=y
CONFIG_PACKAGE_python3-py-src=y
CONFIG_PACKAGE_python3-pyasn1=y
CONFIG_PACKAGE_python3-pyasn1-modules=y
CONFIG_PACKAGE_python3-pyasn1-modules-src=y
CONFIG_PACKAGE_python3-pyasn1-src=y
CONFIG_PACKAGE_python3-pycparser=y
CONFIG_PACKAGE_python3-pycparser-src=y
CONFIG_PACKAGE_python3-pydoc=y
CONFIG_PACKAGE_python3-pydoc-src=y
CONFIG_PACKAGE_python3-pyjwt=y
CONFIG_PACKAGE_python3-pyjwt-src=y
#CONFIG_PACKAGE_python3-pymysql=y
#CONFIG_PACKAGE_python3-pymysql-src=y
CONFIG_PACKAGE_python3-pynacl=y
CONFIG_PACKAGE_python3-pyodbc=y
CONFIG_PACKAGE_python3-pyopenssl=y
CONFIG_PACKAGE_python3-pyopenssl-src=y
CONFIG_PACKAGE_python3-pyotp=y
CONFIG_PACKAGE_python3-pyotp-src=y
CONFIG_PACKAGE_python3-pyparsing=y
CONFIG_PACKAGE_python3-pyparsing-src=y
CONFIG_PACKAGE_python3-pyroute2=y
CONFIG_PACKAGE_python3-pyroute2-src=y
CONFIG_PACKAGE_python3-pyrsistent=y
CONFIG_PACKAGE_python3-pyrsistent-src=y
CONFIG_PACKAGE_python3-pyserial=y
CONFIG_PACKAGE_python3-pyserial-src=y
CONFIG_PACKAGE_python3-pytest=y
CONFIG_PACKAGE_python3-pytz=y
CONFIG_PACKAGE_python3-pytz-src=y
CONFIG_PACKAGE_python3-qrcode=y
CONFIG_PACKAGE_python3-qrcode-src=y
CONFIG_PACKAGE_python3-rcssmin=y
CONFIG_PACKAGE_python3-rcssmin-src=y
CONFIG_PACKAGE_python3-requests=y
CONFIG_PACKAGE_python3-requests-oauthlib=y
CONFIG_PACKAGE_python3-requests-oauthlib-src=y
CONFIG_PACKAGE_python3-requests-src=y
CONFIG_PACKAGE_python3-rsa=y
CONFIG_PACKAGE_python3-rsa-src=y
CONFIG_PACKAGE_python3-ruamel-yaml=y
CONFIG_PACKAGE_python3-ruamel-yaml-src=y
CONFIG_PACKAGE_python3-s3transfer=y
CONFIG_PACKAGE_python3-s3transfer-src=y
CONFIG_PACKAGE_python3-schedule=y
CONFIG_PACKAGE_python3-schedule-src=y
CONFIG_PACKAGE_python3-schema=y
CONFIG_PACKAGE_python3-schema-src=y
CONFIG_PACKAGE_python3-seafile-ccnet=y
CONFIG_PACKAGE_python3-seafile-ccnet-src=y
CONFIG_PACKAGE_python3-seafile-server=y
CONFIG_PACKAGE_python3-seafile-server-src=y
CONFIG_PACKAGE_python3-searpc=y
CONFIG_PACKAGE_python3-searpc-src=y
CONFIG_PACKAGE_python3-sentry-sdk=y
CONFIG_PACKAGE_python3-sentry-sdk-src=y
CONFIG_PACKAGE_python3-service-identity=y
CONFIG_PACKAGE_python3-service-identity-src=y
CONFIG_PACKAGE_python3-setuptools=y
CONFIG_PACKAGE_python3-setuptools-src=y
CONFIG_PACKAGE_python3-simplejson=y
CONFIG_PACKAGE_python3-simplejson-src=y
CONFIG_PACKAGE_python3-six=y
CONFIG_PACKAGE_python3-six-src=y
CONFIG_PACKAGE_python3-slugify=y
CONFIG_PACKAGE_python3-slugify-src=y
CONFIG_PACKAGE_python3-smbus=y
CONFIG_PACKAGE_python3-speedtest-cli=y
CONFIG_PACKAGE_python3-speedtest-cli-src=y
CONFIG_PACKAGE_python3-sqlalchemy=y
CONFIG_PACKAGE_python3-sqlalchemy-src=y
CONFIG_PACKAGE_python3-sqlite3=y
CONFIG_PACKAGE_python3-sqlite3-src=y
CONFIG_PACKAGE_python3-sqlparse=y
CONFIG_PACKAGE_python3-sqlparse-src=y
CONFIG_PACKAGE_python3-stem=y
CONFIG_PACKAGE_python3-stem-src=y
CONFIG_PACKAGE_python3-text-unidecode=y
CONFIG_PACKAGE_python3-text-unidecode-src=y
CONFIG_PACKAGE_python3-texttable=y
CONFIG_PACKAGE_python3-twisted=y
CONFIG_PACKAGE_python3-twisted-src=y
CONFIG_PACKAGE_python3-unidecode=y
CONFIG_PACKAGE_python3-unidecode-src=y
CONFIG_PACKAGE_python3-unittest=y
CONFIG_PACKAGE_python3-unittest-src=y
CONFIG_PACKAGE_python3-urllib=y
CONFIG_PACKAGE_python3-urllib-src=y
CONFIG_PACKAGE_python3-urllib3=y
CONFIG_PACKAGE_python3-urllib3-src=y
CONFIG_PACKAGE_python3-vobject=y
CONFIG_PACKAGE_python3-vobject-src=y
CONFIG_PACKAGE_python3-voluptuous=y
CONFIG_PACKAGE_python3-voluptuous-serialize=y
CONFIG_PACKAGE_python3-voluptuous-serialize-src=y
CONFIG_PACKAGE_python3-voluptuous-src=y
CONFIG_PACKAGE_python3-wcwidth=y
CONFIG_PACKAGE_python3-wcwidth-src=y
CONFIG_PACKAGE_python3-websocket-client=y
CONFIG_PACKAGE_python3-werkzeug=y
CONFIG_PACKAGE_python3-werkzeug-src=y
CONFIG_PACKAGE_python3-xml=y
CONFIG_PACKAGE_python3-xml-src=y
CONFIG_PACKAGE_python3-xmltodict=y
CONFIG_PACKAGE_python3-xmltodict-src=y
CONFIG_PACKAGE_python3-yaml=y
CONFIG_PACKAGE_python3-yaml-src=y
CONFIG_PACKAGE_python3-yarl=y
CONFIG_PACKAGE_python3-yarl-src=y
CONFIG_PACKAGE_python3-zeroconf=y
CONFIG_PACKAGE_python3-zeroconf-src=y
CONFIG_PACKAGE_python3-zipp=y
CONFIG_PACKAGE_python3-zipp-src=y
CONFIG_PACKAGE_python3-zope-interface=y
CONFIG_PACKAGE_python3-zope-interface-src=y
##
